{% extends "base.html" %} {% block body %}
<p class="lead">
  I was born in Izmir, Turkey in 1993. I am studiyng in Radio, Television, and Cinema major at Marmara University. My passion
  for the art of photography kindled through my family trips during my childhood. I felt great pleasure from exploring the
  nature through a camera lens. After entering university, I obtained an analog camera, which transformed a machine that
  gave me visual and spiritual satisfaction to a device to be explored. As I grew older, my passion for travel and photography
  grew simultaneously. I worked as a barista to finance my journeys and traveled to 25 countries in Europe and Asia. The
  variety of cultural and geographical sceneries and the ways in which they blend and form something unique, formed a basis
  for my technique in photography as well as character.
</p>
<h4>Contact</h4>
<p>
  email: bartukaanozdisci@gmail.com
</p>
<p>
  tel: +90 554 439 78 88
</p>
<h4>Social</h4>
<p>
  <a href="https://facebook.com/ozdisci" target="_blank">facebook.com/ozdisci</a>
</p>
<p>
  instagram: <a href="https://instagram.com/bbartukaan" target="_blank">bbartukaan</a>
</p>
{% endblock %}