{% extends "base.html" %}

{% block body %}
<blockquote class="blockquote-reverse">
  <p>To look at the reality in a unique point of view, creates the peak of madness.</p>
  <footer>Gündüz Vassaf</footer>
</blockquote>
<p>My father bought a green 74 model Wolksvagen when I was 16. As far as I can remember, our first trip was a month after it was bought. It was a father-son journey that lasted for 20 days.</p>
<p>To go somewhere from one place to another with a vehicle.</p>
<p>Sometimes without even knowing the destination.</p>
<p>Plenty of time.</p>
<p>A period that leads a person to think and to establish a dialogue.</p>
<p>Later in life, our paths parted with my father. We did not have the time to touch each other’s lives. However, during that trip, consciously or unconsciously he planted a seed inside me.</p>
<p>It took 4 years for it to bloom.</p>
<p>During that time period life got complicated.</p>
<p>The good, the bad, the pretty, the ugly, everything got tangled.</p>
<p>The solution of this complication was to set off.</p>
<p>These journeys were always to the north. Stillness of north made things easier.</p>
<p>Sometimes in order to see what is happening, I had to rise and look at myself from above.</p>
<p>Maybe that is why the direction was north.</p>
{% endblock %}
